{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{ post.title }}</h1>
    <p>Добавлено:{{ post.created_at|date:"d.m.Y H:i:s" }} Просмотров:{{ post.views_count }}</p>

    {% if post.image %}
    <img src="{{ post.image.url }}" class="img-fluid mb-3">
    {% endif %}

    <p>{{ post.content }}</p>
    <div class="mt-3 d-flex gap-2 flex-wrap">
        {% if post.can_edit %}
        <a href="{% url 'blogera:post_update' post.pk %}" class="btn btn-warning">Редактировать</a>
        {% endif %}

        {% if post.can_unpublish %}
        <form method="post" action="{% url 'blogera:post_unpublish' post.pk %}">
            {% csrf_token %}
            <button class="btn btn-secondary">Снять с публикации</button>
        </form>
        {% endif %}

        {% if post.can_publish %}
        <form method="post" action="{% url 'blogera:post_publish' post.pk %}">
            {% csrf_token %}
            <button class="btn btn-success">Опубликовать</button>
        </form>
        {% endif %}

        <a href="{% url 'blogera:post_list' %}" class="btn btn-secondary">Назад</a>
    </div>

</div>
{% endblock %}
