{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{ post.title }}</h1>
    <p>Добавлено:{{ post.created_at|date:"d.m.Y H:i:s" }} Просмотров:{{ post.views_count }}</p>

    {% if post.image %}
    <img src="{{ post.image.url }}" class="img-fluid mb-3">
    {% endif %}

    <p>{{ post.content }}</p>
    {% if user.is_authenticated and post.author == user %}
    <a href="{% url 'blogera:post_update' post.pk %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'blogera:post_unpublish' post.pk %}" class="btn btn-warning">Снять с публикации</a>
    <a href="{% url 'blogera:post_publish' post.pk %}" class="btn btn-warning">Опубликовать</a>
    <a href="{% url 'blogera:post_delete' post.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}
    <a href="{% url 'blogera:post_list' %}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}
