{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{ post.title }}</h1>
     <p>Добавлено:{{ post.created_at|date:"d.m.Y H:i:s" }} Просмотров:{{ post.views_count }}</p>

    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid mb-3">
    {% endif %}

    <p>{{ post.content }}</p>

    <a href="{% url 'blogera:post_update' post.pk %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'blogera:post_delete' post.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'blogera:post_list' %}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}
