<header data-bs-theme="dark">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-4 gap-4 flex-wrap text-secondary">
                <!--Магазин-->
                <div>
                    <a href="{% url 'catalog:product_list' %}"
                       class="link-secondary text-decoration-none">
                        Магазин
                    </a>
                </div>

                <!-- Блог -->
                <div>
                    <a href="{% url 'blogera:post_list' %}"
                       class="link-secondary text-decoration-none">
                        Блог
                    </a>
                </div>

                <!-- Пользователь -->
                <div class="d-flex gap-3 align-items-center">
                    {% if user.is_authenticated %}
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-link link-secondary p-0 text-decoration-none">
                            Выйти
                        </button>
                    </form>
                    {% else %}
                    <a href="{% url 'users:login' %}"
                       class="link-secondary text-decoration-none">
                        Войти
                    </a>

                    <a href="{% url 'users:register' %}"
                       class="link-secondary text-decoration-none">
                        Регистрация
                    </a>
                    {% endif %}
                </div>

                <!-- Контакты -->
                <div>
                    <a href="{% url 'catalog:contacts' %}"
                       class="link-secondary text-decoration-none">
                        Контакты
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container position-relative">

            <a href="{% url 'catalog:product_list' %}"
               class="position-absolute top-50 start-50 translate-middle
                  text-decoration-none text-secondary fs-3 fw-light">
                Камни и руны
            </a>

            <div class="d-flex justify-content-end">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarHeader"
                        aria-controls="navbarHeader"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

        </div>
    </div>

</header>
