{% extends "base.html" %}

{% block content %}
<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
<p>Цена: {{ product.price }}</p>
<p>Статус: {{ product.get_status_display }}</p>
<img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width:300px;">

<a href="{% url 'catalog:products_list' %}">Назад к списку</a>

{% if request.user == product.owner or request.user.has_perm('catalog.can_unpublish_product') or request.user.is_staff %}
<a href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>

<a href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
{% endif %}

{% if request.user.has_perm('catalog.can_unpublish_product') %}
<a href="{% url 'catalog:product_unpublish' product.pk %}">Снять с публикации</a>
{% endif %}
{% endblock %}
