{% extends "base.html" %}

{% block content %}
<h1>Список продуктов</h1>
<div class="products">
    {% for product in products %}
    <div class="product-card">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }}</p>
        <p>Статус: {{ product.get_status_display }}</p>

        <a href="{% url 'catalog:product_details' product.pk %}">Подробнее</a>

        {% if request.user == product.owner or request.user.has_perm('catalog.can_unpublish_product') or request.user.is_staff %}
        <!-- Редактировать -->
        <a href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>

        <!-- Удалить -->
        <a href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
        {% endif %}

        {% if request.user.has_perm('catalog.can_unpublish_product') %}
        <!-- Снять с публикации -->
        <a href="{% url 'catalog:product_unpublish' product.pk %}">Снять с публикации</a>
        {% endif %}
    </div>
    {% empty %}
    <p>Продуктов пока нет.</p>
    {% endfor %}
</div>
{% endblock %}
